@import url("./reset.css"); /* 리셋 css는 최상단에 연결한다 */

@font-face {
    font-family: 'OAGothic-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* 
    font-family: 'OAGothic-Medium';   
    font-family: 'OAGothic-ExtraBold';

    font-family: 'SUITE-Light';
    font-family: 'SUITE-Regular';
    font-family: 'SUITE-Light';
    font-family: 'SUITE-Medium';
    font-family: 'SUITE-SemiBold';
    font-family: 'SUITE-Bold';
    font-family: 'SUITE-ExtraBold';
    font-family: 'SUITE-Heavy';
*/

html{
    font-size: 10px;
}

body{
    font-family: 'SUITE-Regular';
}


/* main */
main{
    width: 100%;
    height: 900px;
    position: relative;
    margin-bottom: 250px;
    background: #000;
    overflow: hidden;
}

/* 메뉴 */
nav{
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 99;
    /* font-family: 'SUITE-SemiBold'; */

}
nav .m_1{
    height: 200px;
    border-bottom: 1px solid #333;
    position: relative;
}
nav .m_1 li a{
    position: absolute;
    top: 80px;
    right: 100px;
}
nav .m_2{
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
nav .m_2 li a{
    font-size: 3.2rem;
    color: #fff;
    width: 400px;
    display: block;
    text-align: center;
}
/* /메뉴 */

main header{
    width: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 100px;
    padding: 20px 0;
}
main .logo{
    position: absolute;
    top: 0;
    z-index: 999;
}
main header .icon{
    display: flex;
}
main header .icon li:last-child{
    margin-left: 30px;
}

.vbox{
    width: 100%;
    overflow: hidden;
}
.vbox video{
    display: block;
    object-fit: contain;
    width: 100%;
}
.t_h{
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

main .main_txt{
    position: absolute;          
    bottom: 0;
    left: 100px;
    padding-bottom: 100px;
    text-shadow: 1px 1px 100px #008ac9;
    font-family: 'OAGothic-Medium';
}
main .main_txt .p1, main .main_txt .p4{
    font-size: 2.4rem;
    color: #eee;
    letter-spacing: -0.03em;
    height: 31px;
    line-height: 31px;
}
main .main_txt .p2{
    font-size: 30rem;
    color: #fff;
    height: 394px;
    line-height: 394px;
}
main .main_txt .p3{
    font-size: 3.2rem;
    letter-spacing: -0.03em;
    color: #fff;
    height: 42px;
    line-height: 42px;
    margin-top: 10px;
}
main .main_txt .p4{
    margin-top: 10px;
}
/* /main */


/* section 1 */
#section1{
    display: flex;
    width: calc(100% - 200px);
    margin: 0 auto;
    gap: 24px;
    margin-bottom: 250px;

}

/* 상단 슬라이드 */
#section1 .top_slide{
    width: 50%;
    overflow: hidden;
    background-color: beige;
}

#section1 .top_slide .top_box1{
    width: 100%;
    height: 900px;
    background-image: url(../image/slide1.jpg);
}
#section1 .top_slide .top_box2{
    width: 100%;
    height: 900px;
    background-image: url(../image/slide2.jpg);
}

.top_slidebox .box{
    text-align: start;
    padding: 50px;
}
.top_slidebox .box .title{
    font-size: 3.2rem;
    letter-spacing: -0.03em;
    color: #fff;
    margin-bottom: 20px;
}
.top_slidebox .box .t{
    font-size: 2rem;
    letter-spacing: -0.03em;
    line-height: 170%;
    color: #fff;
    width: 70%;
}

/* 하이라이트 */
#section1 .highlight{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#section1 .highlight .b{
    display: flex;
    width: 100%;
    align-items: center;
}
#section1 .highlight .box2{
    flex-direction: row-reverse;
}

.highlight .b figure{
    width: 50%;
    height: 100%;
}



#section1 .highlight .b .txt{
    width: 50%;
    padding: 0 10px;
    align-items: center;
}

#section1 .highlight .b .txt .title{
    font-size: 2rem;
    letter-spacing: -0.03em;
    margin-bottom: 5px;
    display: block;
    font-family: 'SUITE-Medium';
}
#section1 .highlight .b .txt .t{
    font-size: 1.6rem;
    letter-spacing: -0.03em;
    color: #999;
    line-height: 170%;
    display: block;
}
/* /section 1 */

/* section 2 */
#section2{
    width: calc(100% - 200px);
    margin: 0 auto;
    margin-bottom: 250px;
}
#section2 .left{
    width: 50%;
}
#section2 .left img{
    height: 600px
}


#section2 .right{
    width: 50%;
    background: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 0px 5px 5px 0;
}

#section2 .right .title{
    font-size: 3.2rem;
    color: #fff;
    letter-spacing: -0.03em;
    width: 100%;
    font-family: 'SUITE-SemiBold';
    line-height: 150%;

}
#section2 .right .t{
    font-size: 1.6rem;
    color: #ccc;
    line-height: 170%;
    letter-spacing: -0.03em;

}
#section2 button{
    width: 280px;
    height: 80px;
    background: #008ac9;
    color: #fff;
    border-radius: 5px;
    border: 0;
    font-size: 2rem;
}
#section2 button:hover{
    background: #F11A11;
    color: #000;
}
/* /section 2 */


/* slide */
#slide{
    width: 100%;
    height: 800px;
    position: relative;
    margin-bottom: 250px;
    overflow: hidden;
} 
#slide  picture img{
    width: 100%;
    height: 800px;
}
#slide .s_title{
    position: absolute;
    top: 25px;
    left: 100px;
    color: #eee;
    font-size: 1.8rem;
    z-index: 10;
    font-family: 'OAGothic-ExtraBold';
}

/* bmw i */
#slide .box1 .txt_b{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#slide .box1 .txt_b .title{
    font-size: 4rem;
    color: #fff;
    font-family: 'OAGothic-ExtraBold';
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px #999;
    line-height: 150%;
}
#slide .box1 .txt_b .t{
    font-size: 3.2rem;
    font-family: 'OAGothic-ExtraBold';
    text-shadow: 3px 3px 3px #999;
    line-height: 150%;
}
#slide .box1 .txt_b .button{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#slide .box1 .txt_b .b1{
    margin-bottom: 10px;
}
#slide .box1 .txt_b .button a{
    width: 250px;
    height: 50px;
    background: #008ac9;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    display: block;
    font-size: 2.4rem;
    color: #fff;
}
#slide .box1 .txt_b .button a:hover{
    background: #F11A11;
    color: #000;
}

/* bmw m */
#slide .box2 .txt_b{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#slide .box2 .txt_b .title{
    font-size: 4rem;
    color: #fff;
    font-family: 'OAGothic-ExtraBold';
    margin-bottom: 50px;
}
#slide .box2 .b_2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
}
#slide .box2 .txt_b .t{
    font-size: 2.8rem;
    font-family: 'OAGothic-ExtraBold';
}

/* bmw art */
#slide .box3 .txt_b{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#slide .box3 .txt_b .title{
    font-size: 4rem;
    color: #fff;
    font-family: 'OAGothic-ExtraBold';
    margin-bottom: 10px;
    line-height: 150%;
}
#slide .box3 .txt_b .t{
    font-size: 2.4rem;
    font-family: 'OAGothic-Medium';
    line-height: 150%;
}
#slide .box3 .txt_b .button{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#slide .box3 .txt_b .button a{
    width: 270px;
    height: 60px;
    background: #008ac9;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    display: block;
    font-size: 2.4rem;
    color: #fff;
}
#slide .box3 .txt_b .button a:hover{
    background: #F11A11;
    color: #000
}

/* bmw vision */
#slide .box4 .txt_b{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#slide .box4 .txt_b .title{
    font-size: 4rem;
    color: #fff;
    font-family: 'OAGothic-ExtraBold';
    margin-bottom: 20px;
}
#slide .box4 .txt_b .t{
    font-size: 2.4rem;
    font-family: 'OAGothic-Medium';
}
#slide .box4 .txt_b .button{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#slide .box4 .txt_b .button a{
    width: 260px;
    height: 60px;
    background: #008ac9;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    display: block;
    font-size: 2.4rem;
    color: #fff;
}
#slide .box4 .txt_b .button a:hover{
    background: #F11A11;
    color: #000
}

/* bmw x */
#slide .box5 .txt_b{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#slide .box5 .txt_b .p1, #slide .box5 .txt_b .p4{
    font-size: 2.4rem;
    margin-bottom: 20px;

}
#slide .box5 .txt_b .p2{
    font-family: 'OAGothic-ExtraBold';
    font-size: 25rem;
    margin-bottom: 20px;
}
#slide .box5 .txt_b .p3{
    font-size: 3.2rem;
    margin-bottom: 20px;
}

/* bmw concept */
#slide .box6 .txt_b{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#slide .box6 .txt_b .title{
    font-size: 4rem;
    color: #fff;
    font-family: 'OAGothic-ExtraBold';
    margin-bottom: 10px;
    line-height: 150%;
}
#slide .box6 .txt_b .t{
    font-size: 2.4rem;
    font-family: 'OAGothic-Medium';
    line-height: 150%;
}
#slide .box6 .txt_b .button{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#slide .box6 .txt_b .button a{
    width: 270px;
    height: 60px;
    background: #008ac9;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    display: block;
    font-size: 2.4rem;
    color: #fff;
}
#slide .box6 .txt_b .button a:hover{
    background: #F11A11;
    color: #000
}

/* /slide */


/* 모델 라인업 */
#model_lineup{
    width: 100%;
    margin-bottom: 250px;
}
#model_lineup .title{
    font-size: 4.2rem;
    text-align: center;
    font-family: 'SUITE-SemiBold';
    margin-bottom: 100px;
}
.lineup a{
    display: block;
    text-align: center;
}

#model_lineup .lineup .p1, #model_lineup .lineup .p2,#model_lineup .lineup .p3{
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
#model_lineup .lineup .p3{
    font-size: 2.4rem;
    letter-spacing: 0.03em;
    font-family: 'OAGothic-ExtraBold';
    color: #008ac9;
}
#model_lineup .lineup .p4{
    font-size: 1.6rem;
    letter-spacing: 0.03em;
    color: #999;
    margin-bottom: 100px;
}

#model_lineup .more{
    text-align: center;
}
#model_lineup .more a{
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #000;
    text-decoration: underline;
}
/* /모델 라인업 */


/* 즐겨찾기 */
#link{
    margin-bottom: 250px;
}
#link .box1, #link .box2, #link .box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
}
#link .title{
    font-size: 4.8rem;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 150px;
    font-family: 'SUITE-SemiBold';

}
#link p{
    font-size: 2.8rem;
    letter-spacing: 0.03em;
    color: #333;
}
#link button{
    width: 130px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    background: #008ac9;
    color: #fff;
    font-size: 1.8rem;
}
#link button:hover{
    background: #F11A11;
    color: #000;
}
/* /즐겨찾기 */


/* buy */
#buy{
    width: calc(100% - 200px);
    margin: 0 auto;
    margin-bottom: 250px;

}
#buy .left{
    width: 50%;
}
#buy .left img{
    height: 600px;  
}

#buy .right{
    width: 50%;
    background: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    border-radius: 0px 5px 5px 0;
}

#buy .right .title{
    font-size: 4.8rem;
    color: #fff;
    letter-spacing: -0.03em;
    width: 100%;
    font-family: 'SUITE-SemiBold';
    line-height: 150%;


}
#buy .right .t{
    font-size: 1.6rem;
    color: #ccc;
    letter-spacing: -0.03em;
    line-height: 150%;

}
#buy .btn{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border: 0;
    padding: 0;
    gap: 10px;

}
#buy button{
    width: 250px;
    height: 60px;
    background: #008ac9;
    color: #fff;
    border-radius: 5px;
    border: 0;
    font-size: 2.2rem;
}
#buy button:hover{
    background: #F11A11;
    color: #000;
}
/* /buy */


/* footer */

/* footer 1 */
.footer1_bg{
    background: #008ac9;
    height: 100px;
}
.footer1{
    height: 100px;
}
.footer1 .txt{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer1 .txt .p1{
    font-size: 1rem;
    color: #fff;
}
.footer1 .txt .p2 a{
    font-size: 1.2rem;
    color: #fff;
    font-family: 'SUITE-SemiBold';

}

.footer1 .sns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

/* footer 2*/
.footer2_bg{
    background: #000;
    height: 500px;
}
.footer2{
    height: 400px;
    margin-bottom: 40px;
}
.footer2_box{
    padding: 70px 0;
}
.footer2 h6{
    font-size: 1rem;
    color: #ccc;
}
.footer2 .sub li .t, .footer2 .sub li{
    font-size: 1.2rem;
    color: #fff;
}
.footer2 .sub{
    margin-top: 15px;
}
.footer2 .sub li{
    padding: 10px 0;
}
.footer2 .sub li a{
    display: flex;
    gap: 5px;

}

.f_menu2{
    display: flex;
    font-size: 1.2rem;
    letter-spacing: 0.03em;
    color: #ccc;
    gap: 35px;
}
.f_menu2 .p1{
    border-right: 1px solid #ccc;
    padding-right: 35px;
}

/* footer 3*/
.footer3{
    height: 100px;
    align-items: center;
    font-family: 'SUITE-SemiBold';

}
.footer3 p{
    font-size: 1.2rem;
    color: #333;
}
.footer3 .f_3{
    display: flex;
    justify-content: space-around;
}
.footer3 a{
    font-size: 1.2rem;
    color: #000;
}
/* /footer */


@media screen and (max-width:1200px){

}

@media screen and (max-width:991px){
    
}

@media screen and (max-width:767px){
    
}

@media screen and (max-width:575px){
    
}

@media screen and (max-width:400px){
    
}